/* Document Setup */ 

body {
    background-color: #1A434E;
    font-family: 'Comfortaa', cursive;
    width: 600px;
    margin: 0 auto;
}

body.loading {
    pointer-events: none;
    filter: grayscale(100%);
}

/* Navigation Elements */

nav{
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
}

nav .logo{
  color: #C4F44E;
  text-decoration: none;
  flex: 1;
}

.hamburger-menu-icon{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}

/* Above The Fold */ 

header#above-the-fold h1, h2{
    color:white;
    text-align: center;
    
}

header#above-the-fold span{
    color: #C4F44E;
}

/* Exchange Rate Sources - Wrapper & Header */ 

.sources-wrapper {
    background-color: white;
    border-radius: 22px;
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
}

.sources-header{
    display: flex;
    flex-direction: row;
}

.sources-header h1 {
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 0 20px;
    flex: 1;
}

.sources-header img {
    flex: 1;
    max-width: 40px;
    padding: 10px 20px 0 0;
}

/* Exchange Rate Sources - Conversion Cells */

.conversion-source-cell{
    font-size: 24px;
    background-color: #EBEBEB;
    border-radius: 15px;
    margin: 20px 20px;
    display: flex;
    align-items: center;
}

.conversion-source-cell img{
    padding: 0 0 0 10px;
    width: 150px;
    height: 75px;
    flex: 1;
}

.conversion-source-cell p:nth-of-type(1){
    padding: 0 0 0 20px;
    flex: 1;
}

.conversion-source-cell a{
    flex: 1;
    text-align:right;
    padding: 0 20px 0 0;
}

/* Footer */

.footer-top {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top p {
    font-size: 16px;
    font-style: normal;
    color: white;
}

.footer-bottom{
    text-align: center;
}
